body {
  background-color: #fafafa;
  font-family: $text-font;
  padding-bottom: 3rem;
}

a {
  color: rgba(0,0,0,0.4);
}

a:hover,
a:focus {
  color: $brand-color;
  text-decoration: none;
}

// Card Styles

.gram-card {
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
}

.gram-card:before,
.gram-card:after {
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.gram-card:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
     -moz-transform:skew(8deg) rotate(3deg);
      -ms-transform:skew(8deg) rotate(3deg);
       -o-transform:skew(8deg) rotate(3deg);
          transform:skew(8deg) rotate(3deg);
}

.card-title {
  font-family: $brand-font;
}

// Box Styles

.plain-box {
  background-color: white;
  border: solid 1px #edeeee;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@include media-breakpoint-down(xs) {
  .plain-box {
    padding: 1em;
  }
}

.plain-box-thin {
  padding: 1em;
}

.list-box {
  padding-bottom: 1rem;
}

.jumbotron {
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 400px;
  background: url('jumbotron') no-repeat center/cover;

  .display-3, .lead {
    text-shadow: rgba(0,0,0,0.95) 1px 2px;
  }
  a:hover,
  a:focus {
    color: white;
  }
}

// Navbar Styles

.navbar {
  margin-bottom: 1rem;
  background-color: white;
  border-bottom: solid 1px #edeeee;
}

.navbar-light .navbar-brand {
  color: $brand-color;
  font-family: $brand-font;
  font-size: 1.75rem;
  margin-right: 2rem;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: $brand-color-dark;
}

.navbar-nav .nav-link {
  padding-top: .9rem;
  padding-bottom: .9rem;
}

.navbar-light .navbar-nav .nav-link {
  @extend a;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  @extend a:hover;
}

.navbar-toggler {
  line-height: 2rem;
}

// clears toggle button float in collapsed/toggleable navbar
@include media-breakpoint-down(sm) {
  .navbar-clear {
    clear: both;
  }
}

// Typography Styles

.brand-header {
  font-family: $brand-font;
  color: $brand-color;
  margin-bottom: 2rem;
}

@include media-breakpoint-down(xs) {
  .brand-header {
    margin: 1rem 0 2rem 0;
  }
}

.extra-space-header {
  margin: 1.5rem;
}

.gram-message {
  h2, h4 {
    @extend .brand-header;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;

    a {
      color: black;
    }
  }

  a:hover,
  a:focus {
    @extend a:hover;
  }
}

@include media-breakpoint-down(xs) {
  .gram-message {
    font-size: 1.25rem;
  }
}

.gram-comment {
  padding: 1rem;
}

.email-header {
  @extend .brand-header;
  display: inline-block;
  margin-bottom: 1rem;
}

@include media-breakpoint-down(md) {
  .email-header {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  .email-header {
    font-size: 1rem;
  }
}

a.delete-link {
  color: #d9534f;
}

a.delete-link:hover,
a.delete-link:focus {
  color: #b52b27;
}

small {
  color: rgba(0, 0, 0, 0.4);
}


// Form / Button styles

.gram-actions {
  .btn {
    margin: 2rem 5px;
  }
}

.btn-brand {
  background-color: $brand-color;
  color: white;
}

.form-actions {
  margin: 1rem 0 0 0;

  .btn {
    margin: 5px;
  }
}

.form-inputs {
  .help-block {
    color: rgba(0, 0, 0, 0.4);
    font-size: .85rem;
    margin-top: .25rem;
  }
}

#user_remember_me {
  margin-right: .5rem;
}

.has-error {
  background-color: #FFEEEE;
  padding: 10px;
  color: red;
  font-weight: bold;

  .help-block {
    color: rgba(255, 0, 0, 0.5);
  }
}

// Hides ugly default file upload input
#gram_picture {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#upload-button {
  @extend .btn;
  @extend .btn-secondary;
}

.file-added {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  color: white !important;
}

//Misc

.alert {
  margin: 1rem;
}
