body {
  background-color: #fafafa;
  font-family: $text-font;
}

// Card Styles

.gram-card {
  border: none;
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  margin: 1rem 0.5rem;
}

.gram-overlay {
  display: flex;
  opacity: 0.0;
  background-color: transparent;
  -webkit-transition: opacity 0.3s, background-color 0.3s;
  transition: opacity 0.3s, background-color 0.3s;
}

.gram-overlay:hover {
  opacity: 1.0;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-title {
  font-family: $brand-font;
}

// Box Styles

.plain-box {
  border: solid 1px #edeeee;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@include media-breakpoint-down(xs) {
  .plain-box {
    padding: 1em;
  }
}

.jumbotron {
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 400px;
  background: url('jumbotron') no-repeat center/cover;

  .display-3, .lead {
    text-shadow: rgba(0,0,0,0.95) 1px 2px;
  }
  a:hover,
  a:focus {
    color: white;
  }
}

// Navbar Styles

.navbar {
  margin-bottom: 1rem;
  background-color: white;
  border-bottom: solid 1px #edeeee;
}

.navbar-light .navbar-brand {
  color: $brand-color;
  font-family: $brand-font;
  font-size: 1.75rem;
  margin-right: 2rem;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: $brand-color-dark;
}

.navbar-nav .nav-link {
  padding-top: .9rem;
  padding-bottom: .9rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.4);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $brand-color;
}

.navbar-toggler {
  line-height: 2rem;
}

// clears toggle button float in collapsed/toggleable navbar
@include media-breakpoint-down(sm) {
  .navbar-clear {
    clear: both;
  }
}

// Typography Styles

.brand-header {
  font-family: $brand-font;
  color: $brand-color;
  margin-bottom: 2rem;
}

.gram-message {
  @extend .brand-header;
  color: black;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@include media-breakpoint-down(xs) {
  .gram-message {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

.gram-comment {
  padding: 1rem;
  // white-space: pre-wrap;

  small {
    color: rgba(0, 0, 0, 0.4);
  }
}

.comments-box {
  padding-top: 0;

  h1, h2, h3, h4, h5, h6 {
    margin: 2rem;
  }
}

// Form / Button styles

.gram-actions {
  .btn {
    margin: 2rem 5px;
  }
}

.btn-brand {
  background-color: $brand-color;
  color: white;
}

.form-actions {
  margin: 1rem 0 0 0;

  .btn {
    margin: 5px;
  }
}

.form-inputs {
  .help-block {
    color: rgba(0, 0, 0, 0.4);
    font-size: .85rem;
    margin-top: .25rem;
  }
}

#user_remember_me {
  margin-right: .5rem;
}

.has-error {
  background-color: #FFEEEE;
  padding: 10px;
  color: red;
  font-weight: bold;
}

// Hides ugly default file upload input
#gram_picture {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#upload-button {
  @extend .btn;
  @extend .btn-secondary;
}

.file-added {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  color: white !important;
}

//Misc

.alert {
  margin: 1rem;
}
