<div class="jumbotron text-xs-center">
  <div class="col-xs-12">
    <h1 class="display-3">Share photos of food</h1>
    <br class="m-y-2">
  </div>
  <div class="col-xs-12">
    <p class="lead">Also street art, monochrome self-portraits, and lattes. But mostly food.</p>
    <br class="m-y-2">
  </div>
  <div class="col-xs-12">
    <%= link_to 'Gram your Food!', new_gram_path, class: 'btn btn-brand btn-lg' %>
  </div>
</div>
<div class="container">
  <div class="row flex-items-xs-around">
    <%= render partial: 'gram', collection: @grams, layout: 'gram_index_layout' %>
  </div>
</div>
